{% load staticfiles %}

<head>
{% block head %}{% include 'head.html' %}{% endblock %}

{#    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script><!-- jQuery Latest -->#}
 <script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'build/mediaelement-and-player.js' %}"></script><!-- Audio/Video Player jQuery -->
	<script src="{% static 'build/mep-feature-playlist.js' %}"></script><!-- Playlist JavaSCript -->

	<link rel="stylesheet" href="{% static 'css/progression-player.css' %}" /><!-- Default Player Styles -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css" />

	<link rel="stylesheet" href="{% static 'css/skin-minimal-light.css' %}" />
    <script src="{% static 'js/jquery.cookie.js' %}"></script>

</head>



<body>

{% block nav %}{% include 'nav.html' %}{% endblock %}

<section id="mediacatalog">
<div class="container">
    <div class="row">

        <div class="col-md-3">
            <div class="lang center-block" style="text-align: center">
                <a class="btn btn-default {% if current_language == 1 %}active{% endif %}" href="?language=1&grade={{ grade }}">English</a>
                <a class="btn btn-default {% if current_language == 2 %}active{% endif %}" href="?language=2&grade={{ grade }}">Francais</a>
            </div>
        </div>
    <div class="col-md-3 col-md-offset-6">
  <a href="../#page-top" type="button" class="btn btn-xl btn-primary " aria-expanded="false"><i class="fa fa-arrow-left fa-1x"></i> Change grade level</a>
</div>

    </div>
</div>
<div class="container">

    <div class="row">

 <div class="col-md-3">
 <div class="tab">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" {% if current_category.type == 2 %} class="active"{% endif %}><a href="#home" aria-controls="audio" role="tab" data-toggle="tab">Audio</a></li>
    <li role="presentation" {% if current_category.type == 1 %} class="active"{% endif %}><a href="#profile" aria-controls="Video" role="tab" data-toggle="tab">Video</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane{% if current_category.type == 2 %} active{% endif %}" id="home"> <ul class="nav nav-pills nav-stacked bord">
           {% for item in audio_categories %}
                 <li role="presentation" {% if current_category.id == item.id %} class="active" {% endif %}><a href="?grade={{ grade }}&category={{ item.id }}&language={{ current_language }}">{{ item.title }}</a></li>
            {% endfor %}
            </ul></div>
    <div role="tabpanel" class="tab-pane {% if current_category.type == 1 %} active{% endif %}" id="profile">
    <ul class="nav nav-pills nav-stacked bord">
        {% for item in video_categories %}
                <li role="presentation" {% if current_category.id == item.id %}class="active"{% endif %}><a href="?grade={{ grade }}&category={{ item.id }}&language={{ current_language }}">{{ item.title }}</a></li>
        {% endfor %}
    </ul>

    </div>
  </div>
</div>

</div>
<!-- close .responsive-wrapper -->

        <div class="col-md-9">

            <h3 class="catalog active"><strong>{{current_category.get_grade_display }}: {{ current_category.title }}<strong></h3>
         {% if current_category.type == 2 %}
            <div class="progression-playlist-height responsive-wrapper responsive-audio" style="max-width:100%; padding-bottom:174px;"><!-- Adjust padding-bottom as needed so the playlist doesn't cover content below -->
                <audio class="progression-playlist progression-skin progression-minimal-light progression-audio-player" controls="controls" preload="none">
                    {% for item in media %}
                    <source src="{{ item.url }}" title="{{ item.name }}" type="audio/mpeg"/>
                    {% endfor %}
                </audio>

        {% else %}
                     {% for item in media %}
                         <h3>{{ item.name }}</h3>
                <video style="width: 100%;"  class="progression-single progression-skin progression-minimal-light" controls="controls" controls="controls" preload="none" poster="../media/big_buck_bunny.jpg">

                    <source src="{{ item.url }}" type="video/mp4" title="{{ item.name }}">

                </video>
                    {% endfor %}
         {% endif %}
            </div>

        </div>
</div>

</section>

{% block about %}{% include 'about.html' %}{% endblock %}

{% block contact %}{% include 'contact.html' %}{% endblock %}
{#{% block contact %}{% include 'contact.html' %}{% endblock %}#}



 <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.fittext.js' %}"></script>
    <script src="{% static 'js/creative.js' %}"></script>
    <script src="{% static 'js/jquery.myParallax.js' %}"></script>

    <script>
        $("[data-parallax-image]").myParallax();

    </script>
<script>
$('.progression-playlist').mediaelementplayer({
	audioWidth: 700, // width of audio player
	audioHeight:40, // height of audio player
	startVolume: 0.5, // initial volume when the player starts
	loop: true, // useful for <audio> player loops
	features: ['playlistfeature', 'prevtrack', 'playpause', 'nexttrack','current', 'progress', 'duration', 'volume', 'playlist'],
	playlist: true, //Playlist Show
	playlistposition: 'bottom' //Playlist Location
	});


$('.progression-single').mediaelementplayer({
	audioWidth: 400, // width of audio player
	audioHeight:40, // height of audio player
	startVolume: 0.5, // initial volume when the player starts
	features: ['playpause','current','progress','duration','tracks','volume','fullscreen']
	});


    $('a').click(function(){
        window.a_clicked = true;
    });

    window.onbeforeunload = function(e) {

        if (!window.a_clicked)
        {
          $.removeCookie('sessionid', { path: '/' });
        }

       return null
    };
</script>

</body>

