{% load staticfiles %}

<style>

</style>

 <header data-speed="6" data-type="background">

        <div class="header-content" >
            <div class="header-content-inner">

               <img src="{% static 'img/logo.png'%}" class="img-responsive center-block headlogo" alt=""/>

             {% if not request.user.is_authenticated %}
                  <hr>
                <p style="font-size: 15px">Early bird pricing for your 1, 2 or 3 year subscription is now available!!!<br/>

Enjoy our resources for FREE for the remainder of the 2014-2015 school year

Our library is now available to stream online - Enter your information below or contact us for a free password.</p>
            {% endif %}
<div  {% if not request.user.is_authenticated %} style="margin-top: -4%" {% else %}style="margin-top: 7%" {% endif %} class="col-md-12">
                        {% if success %}<p class="bg-success">Thank you! We will send password to you soon..</p>{% endif %}
                    {% if not request.user.is_authenticated %}
                        {{ login_form.password.errors }}
                        {{ login_form.schools.errors }}
                        {{ login_form.email.errors }}
                        {{  login_form.non_field_errors }}

                        <form  action="/" method="POST">
                            <div style="width: 40%" class="center-block">
                            {% csrf_token %}
                               {{ login_form.schools.label }}: {{ login_form.schools }}
                                <div class="row">
                          <div class="col-md-6">{{ login_form.password.label }}: {{ login_form.password }}</div>
                              <div class="col-md-6"> {{ login_form.email.label }}: {{ login_form.email }}
                              </div>

                                    </div>

                                <input style="margin-top: 10px" type="submit" class="btn btn-primary btn-md center-block" value="ENTER" />
                            </div>




                        </form>
                        </div>


                        {% else %}
                       <div class="col-md-12"><h4 style="display:block; margin-bottom: 10px; font-size: 24px">Hello {{ request.user.first_name }}!</h4>

                           <div class="btn-group dropup">
  <button type="button" class="btn btn-xl btn-primary " data-toggle="dropdown" aria-expanded="false">Select your grade level</button>
  <button type="button" class="btn btn-xl btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <!-- Dropdown menu links -->

        {% for index, title in grades %}
            <li><a href="/catalog/?grade={{ index }}">{{ title }}</a></li>
        {% endfor %}

  </ul>
</div>
{#                           <a href="/catalog/"><button class="btn btn-primary btn-xl">Catalog</button></a>#}
                           <a href="/logout/"><button class="btn btn-danger btn-xl"><i style="font-size: 20px" class="fa fa-lg fa-power-off"></i></button></a>
                           </div>
                    {% endif %}

            </div>
        </div>
    </header>