 <div class="col-md-9">
            <h3 class="catalog">{{ current_category.title }}</h3>
            {% for item in media %}

                {% if current_category.type == 2 %}
                <div class="audio-player">
                     <h1>{{ item.name }}</h1>
            <audio class="progression-single progression-skin progression-audio-player"  src="{{ item.url }}" preload="none" type="audio/mp3" controls="controls">
            </audio>
                </div>

                    {% else %}

                    <video style="width: 100%" id="player1" controls="controls" preload="none" poster="../media/echo-hereweare.jpg">#}

		<source src="{{ item.url }}"  type="video/mp4" />


	    </video>

                {% endif %}

            {% endfor %}
        </div>