{% load staticfiles %}



<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <script src="{% static 'js/simpleparallax.min.js' %}"></script>

    <script>
        $('.parallax').simpleParallax();

    </script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.fittext.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/creative.js' %}"></script>

    <script>
    $('#example').popover(options)
</script>