{% load staticfiles %}



<!-- jQuery -->
    <script src="{% static 'js/jquery.js' %}"></script>

    <script src="{% static 'js/jquery.myParallax.js' %}"></script>


    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'js/jquery.fittext.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- Custom Theme JavaScript -->
    <script src="{% static 'js/creative.js' %}"></script>

         <script>
        $("[data-parallax-image]").myParallax();

    </script>


{% if message_form.errors %}
    <script>
       $(document).ready(function(){
           $('#formModal').modal()
       })
    </script>
{% endif %}

